---
const { title, body } = Astro.props;
---

<div class="tech card">
  <h3>{ title }</h3>
  <p>{ body }</p>
</div>

<style>
  .tech.card {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0 0 1rem;
    padding: 1rem;
    width: calc(50% - 0.5rem);
    max-width: 100%;
  }

  .card h3 {
    font-size: 26px;
    margin: 0 0 0.5rem;
    color: var(--hi-purple);
  }

  @media (max-width: 768px) {
    .tech.card {
      width: 100%;
    }
  }
</style>