---
import Layout from '../layouts/Layout.astro';
import Form from '../landing-page/Form.astro';
import Offer from '../landing-page/Offer.astro';
import Hero from '../landing-page/Hero.astro';
import Course from '../landing-page/Course.astro';
import MailingList from '../landing-page/MailingList.astro';
import HowItWorks from '../landing-page/HowItWorks.astro';
import WhyUs from '../landing-page/WhyUs.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero />
		<Offer />
		<Course />
		<MailingList 
			title="Join the mailing list" 
			text="We regularly give tips, trick and helpful advice about becoming a web developer, and the what going on the web development world"
			buttonText="join"
		/>
		<HowItWorks />
		<MailingList 
			title="Want to know more then please ask us anything" 
			text="We want you to succeed, so please let us help, is it about the course, is it about your career,  is it about the code, if we can help we!" 
			buttonText="Contact us"
		/>
		<WhyUs />
		<Form />
	</main>
</Layout>

<style>
	main {
		margin: auto;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
