---
import Button from '../components/Button.astro'
---

<div class="hero">
  <div class="hero__content">
    <div class="headings">
      <h2 class="heading heading-1">Learn To Code.</h2> 
      <h2 class="heading heading-2">Become A Developer.</h2>
      <h2 class="heading heading-3">Build Your Future.</h2>
      <p class="hero__text">
        Our Web Developer course will equip you with the 
        foundational knowledge and training you need to start your new career in tech with confidence.
      </p>
      <Button text="Learn More"/>
    </div>
    <div class="hero-image">
      <img src="/images/code-on-macbook-reduced.webp" alt="laptop with code" class="hero__image">
    </div>
  </div>
</div>

<style>
  .hero {
    background-color: var(--hi-purple);
  }
  
  .hero__content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;  
		margin: 0 auto;
  }

  .hero-image {
    width: 50%;
  }

  .hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .headings {
    width: 50%;
    padding: 16px;
  }

  .heading {
    font-size: 64px;
    /* margin: 0 0 32px 0; */
    margin: 0;
    font-family: "Montserrat", sans-serif;
  }

  .heading-1 {
    color: var(--hi-gold);
  }

  .heading-2 {
    color: var(--hi-peach);
  }
  .heading-3 {
    color: var(--hi-light-purple);
  }

  .hero__text {
    font-size: 18px;
    color: white;
    font-family: "Cabin", sans-serif;
    margin: 0 0 16px 0;
  }

  
  .hero-image {
    padding-right: 16px;
  }

  @media screen and (max-width: 1024px) {
    .hero-image {
      padding-right: 0;
    }
  }
  @media screen and (max-width: 800px) {
    .hero-image {
      display: none;
    }

    .headings {
      width: 100%;
    }

  }


  @media screen and (max-width: 600px) {

    .heading {
      width: 100%;
    }
  }

  @media screen and (max-width: 380px) {
    .heading {
      font-size: 48px;
    }
  }

</style>