<div class="how-it-works container container--margin">
  <div class="how-it-works__text-section">
    <div class="how-it-works__title">
      <h2>How it works</h2>
    </div>
    <section>
      <h3>Online Course</h3>
      <p>Providing access to an online course to allow students to study through out the week</p>
    </section>
    <section>
      <h3>Online coding platform</h3>
      <p>Providing access to an online platform to give students hands on practice</p>
    </section>
    <section>
      <h3>Projects</h3>
      <p>Projects provided with solutions and eventually students are encouraged to come up with there own projects</p>
    </section>
    <section>
      <h3>Code Reviews</h3>
      <p>Then providing code reviews on these projects in order to give feedback on actual student work</p>
    </section>
    <section>
      <h3>Mentorship</h3>
      <p>a focus on the mentorship to bring all of these element together, much of the problem I have witness over the year are exasperated because beginners have no-one to talk to. Guidance on specific student problems</p>
    </section>
    <section>
      <h3>Get a Job</h3>
      <p>Then providing code reviews on these projects in order to give feedback on actual student work</p>
    </section>
  </div>
</div>

<style>
  h3 {
    color: var(--hi-purple)
  }
  .how-it-works__title {
    text-align: center;
  }

  .how-it-works {
    display: flex;
    justify-content: flex-end;
    background-image: url("/images/wes-hicks-4-EeTnaC1S4-unsplash.jpeg");
    background-size: cover;
  }

  .how-it-works__text-section {
    background-color: white;
    max-width: 400px;
    padding: 16px;
  }

  .container--margin {
    padding: 2rem;
  }
</style>