---
import Button from "../components/Button.astro";

const { title, text, buttonText } = Astro.props;
---

<div class="mailing-list container">
  <h2>{title}</h2>
  <p>
    {text}
  </p>
  <form>
    <!-- <input type="email" placeholder="Your email address" /> -->
    <Button text={buttonText}></Button>
  </form>
</div>

<style>
  .mailing-list {
    background-color: var(--hi-peach);
    padding: 2rem;
    text-align: center;
  }
</style>