---
import Button from "../components/Button.astro";
---

<div class="mailing-list container">
  <h2>Join the mailing list</h2>
  <p>
    We regularly give tips, trick and helpful advice about becoming a web developer, and the what going on the web development world
  </p>
  <form>
    <input type="email" placeholder="Your email address" />
    <Button text="Join"></Button>
  </form>
</div>

<style>
  .mailing-list {
    background-color: var(--hi-peach);
    padding: 2rem;
    text-align: center;
  }
</style>