<button class="btn">
  Contact us
</button>

<style>
  .btn {
    background-color: var(--hi-yellow);
    border: none;
    padding: 8px 12px;
    font-family: 'Roboto';
    border-radius: 5px;
  }
</style>