---
const { text } = Astro.props;
---


<button class="btn">
  {text}
</button>

<style>
  .btn {
    background-color: var(--hi-yellow);
    border: none;
    padding: 12px 18px;
    font-family: 'Roboto';
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn:hover {
    /* background-color: #000;
    color: var(--hi-yellow); */
    background-color: var(--hi-peach);
    /* color: var(--hi-yellow); */
    color: white;
  }
</style>