---
export interface Props {
	title: string;
	body: string;
	imgUrl: string;
}

const { title, body, imgUrl } = Astro.props;
---

<div class="offer-card">
	<div class="offer-card__image">
			<img src={imgUrl} alt="Avatar" style="width:100%">
	</div>
	<div class="offer-card__title">
			<h3>{title}</h3>
	</div>
	<div class="offer-card__text">
			<p>{body}</p>
	</div>
</div>

<style>
	.offer-card {
		display: flex;
		flex-direction: column;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		max-width: calc(33.33% - 8px);

		/* text-align: center; */
		font-family: arial;
		background-color: white;
	}
	
	.offer-card__text {
		padding: 0 16px;
		text-align: left;
		/* background-color: var(--hi-purple); */
		/* color: white; */
		flex-grow: 1;
	}

	.offer-card__title {
		color: var(--hi-purple);
		padding: 8px 0 0px 16px;
	}
</style>
