---
import Button from "../components/Button.astro";
---

<nav class="container header">
  <div class="logo">Hashmap Institute</div>

  <ul>
    <li><a href="#">Offer</a></li>
    <li><a href="#">Course</a></li>
    <li><a href="#">How it works</a></li>
    <li><a href="#">Why us</a></li>
    <li><a href="#">Pricing</a></li>
  </ul>

  <div class="btn__container">
    <Button text="Contact us" />
  </div>

  <div class="btn__container--mobile-only menu-btn">
    <button class="btn">
      <i class="bi bi-three-dots-vertical show"></i>
      <i class="bi bi-x"></i>
    </button>
  </div>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .logo {
    font-size: 36px;
    font-family: "Antonio", serif;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    display: inline-block;
  }

  ul li a {
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: black;
  }

  .btn__container--mobile-only {
    display: none;
  }


  @media screen and (max-width: 930px) {
    

  }
  @media screen and (max-width: 850px) {
    .header {
      /* background-color: lightblue; */
    }

    .btn__container {
      display: none;
    }
  }

  @media screen and (max-width: 850px) {
    .header {
      /* background-color: lightgreen; */
    }

    ul {
      position: absolute;
      background-color: white;
      right: 0;
      top: 80px;
      display: none;
    }

    ul.show {
      display: block;
    }

    .bi.bi-x {
      display: none;
    }

    .bi.bi-x.show {
      display: block;
    }

    .bi-three-dots-vertical.show {
      display: block;
    }

    .bi-three-dots-vertical {
      display: none;
    }

    ul {
      width: 100%;
      text-align: center;
    }

    ul li {
      display: block;
      border-bottom: 1px solid black;
    }

    ul li a {
      width: 100%;
      /* background-color: yellow; */
      font-size: 18px;
      padding:12px;
    }

    .btn__container--mobile-only {
      display: block;
    }
    .btn__container--mobile-only button {
      border: none;
      background-color: transparent;
    }

    .btn__container--mobile-only i {
      font-size: 30px;
    }
  }
</style>

<script>
  const btn = document.querySelector(".btn__container--mobile-only");
  const ul = document.querySelector("ul");

  const biX = document.querySelector(".bi.bi-x");
  const biThreeDotsVertical = document.querySelector(".bi-three-dots-vertical");

  btn?.addEventListener("click", () => {
    ul?.classList.toggle("show");
    biX?.classList.toggle("show");
    biThreeDotsVertical?.classList.toggle("show");
  });
</script>
